# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env

# Databases
*.db

# Logs
*.log

# Notebooks
.ipynb_checkpoints/

# TensorFlow cache
*.pb
*.pbtxt

# Models (tracked ONLY via LFS)
models/*.keras
models/*.h5
