# Python
__pycache__/
*.pyc
.vscode/

# Virtual env
venv/
.env

# Databases
*.db

# Logs
*.log

# Notebooks
.ipynb_checkpoints/

# TensorFlow cache
*.pb
*.pbtxt

models/*.keras
models/*.h5
models/*.pkl

users.db